.presentacion{
    text-align: center;
    position: fixed; top: 380px; left: 470px;
    
}
.h2{
    text-align: center;
    position: fixed; top: 430px; left: 410px;
    color: black;
}

.introduccion{
    text-align: center;
    position: fixed; top: 475px; left: 360px;
    color: black;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    margin: 0 auto;
   
}

.datos{
    position: absolute; right: 370px; top: 380px;
    border: 15px solid black;
    background-color: #edaa7c;
    border: 3px solid black;
    border-top-left-radius: 3px;
    width: 650px;
    height: 200px;

    
}